<%= stylesheet_link_tag 'logout' %>

<p class="logout_ttl">PRUMアカデミーからログアウトしますか？</p>
<p class="logout_txt">いつでもログインし直すことができます。アカウントを切り替える場合は、既存のアカウントを追加すると切り替えることができます。</p>

<%= button_to 'ログアウト', logout_path, method: :delete, class: 'btn btn-color' %>
<%= link_to 'キャンセル', 'javascript:history.back();', class: 'btn btn-color-w' %>

<script>
	document.addEventListener('DOMContentLoaded', function() {
  var logoutButton = document.querySelector('#logout-button');
  logoutButton.addEventListener('click', function(e) {
    e.preventDefault();
    var result = confirm('本当にログアウトしますか？');
    if (result) {
      window.location.href = logoutButton.getAttribute('href');
    } else {
      window.location.href = document.referrer;
    }
  });
});

document.addEventListener("turbo:load", function() {
  const body = document.querySelector('body');
  body.classList.add('logout_body');

  const container = document.querySelector('.container');
  container.classList.add('logout_style');

  const logo = document.querySelector('header');
  logo.classList.add('logout_header');
});

</script>