@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
/* universal */

body {
  padding: 10%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid gray-medium-light;
  color: gray;
  a {
    color: gray;
    &:hover {
      color: gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
  @media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
 }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Dropdown menu */

.dropdown-menu.active {
  display: block;
}

/* form icon */

input[type="file"] {
  display: none;
}

#post_images {
  display: flex;
  gap: 5px;
  width: fit-content;
  max-width: 100%;
  height: 100%;
  border: solid 1px black;
  border-radius: 10px;
  overflow: auto;
}

#post_images > p {
  margin: 0;
  padding: 5px 5px;
}

#filename {
  padding-right: 5px;
}

.form_icon_btn {
  background-color: #fff;
  cursor: pointer;
  border: solid 1px #000;
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 18px;

  color: rgb(162, 159, 159);
}

/* form footer */ 

.btn-color {
  margin-top: 4rem;
  background-color: black;
  color: white;
}

.btn-color:hover {
  color: white;
  background-color: gray;
}

.line {
  background-color: gray;
  width: 100%;
  height: 2px;
  margin-top: 8rem;
}

.have_login {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.to_signup_wrapper {
  margin-top: 4rem;
}

.to_signup {
  width: 100%;
  color: gray;
  border: 2px solid gray;
  border-radius: 10px;
}

.link-color {
  color: #161515;
  font-weight: bold;
}

/* logo */

.logo_wrapper {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-10%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.logo_A {
  width: 200px;
}

/* 背景とか枠とか */

.login_view {
  background-color: rgb(227, 223, 223);
}

.container {
  background-color: #fff;
  border: solid 1px gray;
  padding: 2% 5%;
}